@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-heading: var(--font-sans);
	--font-sans: var(--font-sans);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-card-border: var(--card-border);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

:root {
	--background: #F5F2ED;
	--foreground: #2D2D2D;
	--card: #FFFFFF;
	--card-foreground: #2D2D2D;
	--card-border: #A67B6B;
	--popover: #FFFFFF;
	--popover-foreground: #2D2D2D;
	--primary: #6F3429;
	--primary-foreground: #FFFFFF;
	--secondary: #B2D2C2;
	--secondary-foreground: #2D2D2D;
	--muted: #FFF1EE;
	--muted-foreground: #534340;
	--accent: #F3E5E2;
	--accent-foreground: #2D2D2D;
	--destructive: #BA1A1A;
	--destructive-foreground: #FFFFFF;
	--border: #D8C2BD;
	--input: #D8C2BD;
	--ring: #6F3429;
	--chart-1: #6F3429;
	--chart-2: #55624C;
	--chart-3: #B2D2C2;
	--chart-4: #005040;
	--chart-5: #A67B6B;
	--radius: 1rem;
	--sidebar: var(--card);
	--sidebar-foreground: var(--foreground);
	--sidebar-primary: var(--primary);
	--sidebar-primary-foreground: var(--primary-foreground);
	--sidebar-accent: var(--accent);
	--sidebar-accent-foreground: var(--accent-foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--ring);
}

.dark {
	--background: #211A19;
	--foreground: #FCEEEB;
	--card: #362F2D;
	--card-foreground: #FCEEEB;
	--card-border: #927F7B;
	--popover: #362F2D;
	--popover-foreground: #FCEEEB;
	--primary: #FFB4A5;
	--primary-foreground: #390B04;
	--secondary: #BDCBB0;
	--secondary-foreground: #131E0D;
	--muted: #2A2322;
	--muted-foreground: #DDC9C4;
	--accent: #312A28;
	--accent-foreground: #FCEEEB;
	--destructive: #FFB4AB;
	--destructive-foreground: #390B04;
	--border: #443937;
	--input: #443937;
	--ring: #FFB4A5;
	--chart-1: #FFB4A5;
	--chart-2: #8BD5BE;
	--chart-3: #BDCBB0;
	--chart-4: #FFCBC0;
	--chart-5: #927F7B;
	--sidebar: var(--card);
	--sidebar-foreground: var(--foreground);
	--sidebar-primary: var(--primary);
	--sidebar-primary-foreground: var(--primary-foreground);
	--sidebar-accent: var(--accent);
	--sidebar-accent-foreground: var(--accent-foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.05'/%3E%3C/svg%3E");
		background-repeat: repeat;
		background-blend-mode: overlay;
	}

	html {
		@apply font-sans;
	}
}
